.Calender-top{
    background:rgb(255, 255, 255);
    display: flex;
    color:black;
    padding-left:5vw;
    padding-right:5vw;
    justify-content: center;
    align-items: center;
}

.Calender-top-black{
    background:rgb(255, 255, 255);
    padding-left:10px;
    padding-right:10px;
}

.Calender{
    background:rgb(255, 255, 255);
    display: flex;
    color:black;
    justify-content: center;
    align-items: center;
}

.Calender-TableName{
    @extend .Calender;
    margin-top: 20px;
}

.Cal-Table{
    border: 1px solid rgb(200, 200, 200);
    max-width: 90vmin;
}

.Cal-th{
    background:rgb(200, 200, 200);
    border: 1px solid rgb(150, 150, 150);
    width: 12vmin;
    max-width: 80px;
    height: 5vh;
    max-height: 50px;
}

.Cal-th-sun{
    @extend .Cal-th;
    color:rgb(255, 100, 100);
}

.Cal-th-sat{
    @extend .Cal-th;
    color:rgb(100, 100, 255);
}

.Cal-td{
    background:rgb(255, 255, 255);
    border: 1px solid rgb(200, 200, 200);
    height: 7vh;
    max-height: 50px;
    color:black;
}

.Cal-td:hover{
    background:rgb(240, 240, 240);
    cursor:pointer;
}

.Cal-td-noncur{
    @extend .Cal-td;
    color:rgb(150, 150, 150);
}

.Cal-td-noncur:hover{
    background:rgb(240, 240, 240);
    cursor:pointer;
}

.Cal-td-p{
    margin: 5px;
}

.Cal-td-p-user{
    margin: 5px;
    color:rgb(55, 100, 255);
}
.Cal-td-p-stopby{
    margin: 5px;
    color:rgb(180, 180, 180);
}

.Calender-CheckInList{
    background:rgb(255, 255, 255);
    max-width: 90vmin;
    padding-top:10px;
    padding-bottom:10px;
}

.test{
    background:rgb(255, 136, 136);
}


