
.MngAttend-base{
  justify-content: center;
}

.MngAttend-text{
    display: flex;
    color:black;
    width: 90vw;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.MngAttend-form{
    display: flex;
    color:black;
    width: 90vw;
    max-width: 500px;
    justify-content: center;
    align-items: center;
}
  
.MngAttend-block{
    width: 90vw;
    max-width: 500px;
}

.MngAttend-td{
  width: 10vw;
  max-width: 200px;
}
  