
.MngAvatar-base{
  justify-content: center;
}

.MngAvatar-text{
    display: flex;
    color:black;
    width: 90vw;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.MngAvatar-form{
    display: flex;
    color:black;
    width: 90vw;
    max-width: 500px;
    justify-content: center;
    align-items: center;
}
  
.MngAvatar-block{
    width: 90vw;
    max-width: 500px;
}
  