
.MngGame-base{
  justify-content: center;
}

.MngGame-text{
    display: flex;
    color:black;
    width: 90vw;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.MngGame-form{
    display: flex;
    color:black;
    width: 90vw;
    max-width: 500px;
    justify-content: center;
    align-items: center;
}
  
.MngGame-block{
    width: 90vw;
    max-width: 500px;
}
  