
.Passing-base{
  justify-content: center;
}

.Passing-text{
    display: flex;
    color:black;
    width: 90vw;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.Passing-form{
    display: flex;
    color:black;
    width: 90vw;
    max-width: 500px;
    justify-content: center;
    align-items: center;
}
  
.Passing-block{
    width: 90vw;
    max-width: 500px;
}

.Passing-td{
  width: 10vw;
  max-width: 200px;
}
  