
.Exchange-base{
  justify-content: center;
}

.Exchange-text{
    display: flex;
    color:black;
    width: 90vw;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.Exchange-form{
    display: flex;
    color:black;
    width: 90vw;
    max-width: 500px;
    justify-content: center;
    align-items: center;
}
  
.Exchange-block{
    width: 90vw;
    max-width: 500px;
}

.Exchange-td{
  width: 10vw;
  max-width: 200px;
}
  

.Exchange-Range{
  width: 70vw;
  max-width: 300px;
}
  