

.MyPw-input{
  background:rgb(255, 255, 255);
  display: flex;
  color:black;
  padding-left:5vw;
  padding-right:5vw;
  justify-content: center;
  align-items: center;
}

.MyPw-input-change{
  @extend .MyPw-input;
  margin-top: 20px;
}


.MyPw-input-deposit{
  background:rgb(255, 255, 255);
  display: flex;
  color:black;
  width: 50vw;
  max-width: 400px;
  justify-content: center;
  align-items: center;
}

.MyPw-alert{
  display: flex;
  width: 80vw;
  max-width: 300px;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MyPw-button{
  background:rgb(255, 255, 255);
  margin-top: 150px;
  justify-content: center;
  align-items: center;
}

.MyPassword-top-black{
  background:rgb(255, 255, 255);
  padding-top:18px;
  padding-left:10px;
  padding-right:10px;
}


.MyPassword-td-plus{
  color:#4a89ff
}

.MyPassword-tr{
  border-bottom: 1px solid #757575;
}

.MyPassword-tr-member{
  border-bottom: 1px solid #e4e4e4;
}

.MyPassword-tr:hover{
  background-color: #dadada;
}



// $font_color : rgb(80, 80, 80);
// .Main-slide-font {
//   text-shadow: -1px 0 $font_color, 0 1px $font_color, 1px 0 $font_color, 0 -1px $font_color;
// }
