.list{
    background:rgb(255, 255, 255);
    width:100%;
    display: flex;
    color:black;
    padding:10px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
}

.list-line{
    background:rgb(255, 255, 255);
    display: flex;
    color:black;
    padding-left:10px;
    border-bottom: 1px solid black;
}

.list-black{
    justify-content: center;
    display: flex;
<<<<<<< HEAD
    padding-left:5px;
    padding-right:5px;
    font-size: 18px;
=======
    padding-left:1vmin;
    padding-right:1vmin;
    font-size: 4vw;
>>>>>>> 9dcd2b29100b22b7f5deaa000e11748f76f63bc4
    word-break: keep-all;
}

.list-img{
    display: flex;
    width: 5vmin;
    height: 5vmin;
    max-width: 30px;
    max-height: 30px;
    justify-content: center;
}
  