
// .Main-slide{
//   background-color: #e6e6e6;
//   justify-content: center;
//   display: flex;
//   width:100vmax;
// }
.MyPoint-top{
  background:rgb(255, 255, 255);
  display: flex;
  color:black;
  padding-left:5vw;
  padding-right:5vw;
  justify-content: center;
  align-items: center;
}

.MyPoint-top-black{
  background:rgb(255, 255, 255);
  padding-top:18px;
  padding-left:10px;
  padding-right:10px;
}


.MyPoint-td-plus{
  color:#4a89ff
}

.MyPoint-tr{
  border-bottom: 1px solid #757575;
}

.MyPoint-tr-member{
  border-bottom: 1px solid #e4e4e4;
}

.MyPoint-tr:hover{
  background-color: #dadada;
}



// $font_color : rgb(80, 80, 80);
// .Main-slide-font {
//   text-shadow: -1px 0 $font_color, 0 1px $font_color, 1px 0 $font_color, 0 -1px $font_color;
// }
