

.Attend-top{
  background:rgb(255, 255, 255);
  display: flex;
  color:black;
  padding-left:5vw;
  padding-right:5vw;
  justify-content: center;
  align-items: center;
}

.Attend-top-black{
  background:rgb(255, 255, 255);
  padding-left:10px;
  padding-right:10px;
}

.Attend-table {
  width: 90vmin;
}
.Attend-th{
  border-bottom: 3px solid #181818;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Attend-th-10 {
  @extend .Attend-th;
  width: 12%;
}
.Attend-th-20 {
  @extend .Attend-th;
  width: 20%;
}
.Attend-th-70 {
  @extend .Attend-th;
  width: 50%;
}

.Attend-td{
  padding-top: 5px;
  padding-bottom: 5px;
}
.Attend-td-prog{
  @extend .Attend-td;
  width:100;
  padding-left: 5px;
  padding-right: 5px;
  //margin-left: 10px;
}

.Attend-tr{
  border-bottom: 1px solid #757575;
}

.Attend-tr-member{
  border-bottom: 1px solid #e4e4e4;
}

.Attend-tr:hover{
  background-color: #dadada;
}

.Attend-button{
  Button{
    margin: 50px;
  }
  padding-top: 5px;
  padding-bottom: 5px;
}

.Attend-text-right{
  text-align: right;
}

.Attend-td-input{
}

.Attend-input{
  min-width: 78px;
  width:10vw;
}

.ApexChart{
  width: 350px;
  height: 350px;
}






// $font_color : rgb(80, 80, 80);
// .Main-slide-font {
//   text-shadow: -1px 0 $font_color, 0 1px $font_color, 1px 0 $font_color, 0 -1px $font_color;
// }
