
@font-face {
  font-family: 'tway_sky';
  src: url('./tway_sky.ttf') format('truetype');
}
@font-face {
  font-family: 'tway_air';
  src: url('./tway_air.ttf') format('truetype');
}


.App-login{
  background-color: #e6e6e6;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.App-logi-bg{
  //min-width: 100vmin;
  width: 100vmin;
  height: 100vmin;
  max-height: 100vh;
}

.App-logi-form{
  position: absolute;
  z-index: 100;
  margin-bottom: 10vh;
}

.App {
  text-align: center;
}

@media (min-width: 992px)
{
  .my-mt{
    margin-top: 20px;
  };
}

.App-nav{
  @extend .my-mt;
  color: #707071;
  text-decoration:none;
}
.App-nav:hover{
  color: #4a4a4b;
}

.App-logo {
  width: 90px;
  height: 110px;
  padding-top:10px;
  padding-bottom:10px;
}
.App-TAPs {
  width: 200px;
  height: 53px;
}

.App-header {
  background-color: #F8F9FA;
  display: flex;
  justify-content:flex-start;
}

.App-title {
  padding-top:30px;
  display: flex;
  font-family: 'tway_sky';
  margin-right: 5px;
}

.App-title-l {
  
  font-size: 35px;
  z-index: 100;
}
.App-title-s {
  padding-top:27px;
  font-size: 5px;
  position: absolute;
  z-index: 200;

}

.App-header-font{
  margin: 0;
  font-size: 13px;
}

.App-middle {
  display: flex;
  min-height: 80vh;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-bottom{
  background:#cccccc;
  height: 20vh;
  justify-content: center;
  align-items: center;
  color: #969696;
}

.App-bottom-font{
  color: #969696;
}
.App-link{
  color: #969696;
}
.App-link:link{
  color: #969696;
}
.App-link:hover{
  color: #5f5f5f;
}

.App-nameplate{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
}

.App-MyPoint-List{
  display: flex;
  justify-content:space-around;
}


.App-MyPoint-Name{
  display: flex;
  justify-content: flex-start;
  font-size: 11pt;
}

.App-MyPoint{
  font-size: 9pt;
}

.App-MyPoint-rad{
  @extend .App-MyPoint;
  color: #ff0000;
}

.App-MyPoint-blue{
  @extend .App-MyPoint;
  color: #0000ff;
}

.App-MyPoint-green{
  @extend .App-MyPoint;
  color: #009900;
}

.App-MyPoint-bold{
  font-weight: 700;
}