

.App-login{
  background-color: #e6e6e6;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.App-logi-bg{
  //min-width: 100vmin;
  width: 100vmin;
  height: 100vmin;
  max-height: 100vh;
}

.App-logi-form{
  position: absolute;
  z-index: 100;
  margin-bottom: 10vh;
}

.App {
  text-align: center;
}

.App-nav{
  color: #707071;
  text-decoration:none;
}
.App-nav:hover{
  color: #4a4a4b;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo {
  width: 140px;
  height: 120px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
}
.App-header {
  background-color: #F8F9FA;
  display: flex;
}

.App-header-font{
  margin: 0;
  font-size: 13px;
}

.App-middle {
  display: flex;
  min-height: 80vh;
  justify-content: center;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-bottom{
  background:#cccccc;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}